#toolbar-minimap {
  background-color: transparent;
  background-image: url("icon_minimap.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-clip: content-box;
}
#toolbar-minimap.selected {
  background-position: -24px 0;
}
#minimap {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 120px;
  height: 90px;
  background-color: #fff;
  border: 5px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 8px 2px;
}
